body{
    margin: 0;
}

.page{
    width: 100%;
}
.container{
    width: 1440px;
    height: 3735px;
    margin: 0 auto;
    border: 1px groove black;
}
.background{
    position: static;
}
.top{
    height: 765px;
}
.bottom{
    height: 100%;
    margin-top: 1635px;
}
.webpage{
    position: relative;
    z-index: 1;
    margin-top: -3740px;
    z-index: 100; 
}
.header-div{
    height: 90px;    
}
.main-div{
    height: 3584px;
}
.footer-div{
    height: 61px;
}
